## Q1. Create one variable containing following type of data:

### (i)	string

In [ ]:
Learning_Python= "PWSKILLS"

### (ii)	list

In [ ]:
List=["python",3.0,2023,"Machine Learning"]

### (iii)	float

In [ ]:
Var1=45.67

### (iv) tuple

In [ ]:
tuple= ("PW","PW",12.45,1)

## Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


## What will be the data type of the above given variable.

### (i)	var1 = ‘ ‘

In [9]:
var1 =''
print("Data type of given variable is :", type(var1))

Data type of given variable is : <class 'str'>

### (ii) var2 = ‘[ DS , ML , Python]’

In [10]:
var2 = '[ DS , ML , Python]'
print("Data type of given variable is :", type(var2))

Data type of given variable is : <class 'str'>

### (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [11]:
var3 = [ 'DS' , 'ML' , 'Python']
print("Data type of given variable is :", type(var3))

Data type of given variable is : <class 'list'>

### (iv) var4 = 1.

In [12]:
var4 = 1.
print("Data type of given variable is:", type(var4))

Data type of given variable is: <class 'float'>

## Q3. Explain the use of the following operators using an example:

### (i) /

In [9]:
#Example 
4/5
#Division operator is used to give quotient of two integers. Result always has type float.

0.8

### (ii) %

In [13]:
#Example
10%2
#Modulus operator is used to give remainder when a is divided by b

0

### (iii) //

In [11]:
15//2
# Floor division is used to give quotient when a is divided by b, rounded to the next smallest whole number

7

### (iv) **

In [12]:
2**3
#For numeric data types, double-asterisk (**) is defined as an Exponentiation Operator,It is also known as Power operator.

8

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [16]:
list1=[4+5j,"abc","Data Science","Python","Jupyter",3.0,"abc",7+9j,"PW",9.0]
for i in list1:
    print(i,"Is of data type:", type(i))

(4+5j) Is of data type: <class 'complex'>
abc Is of data type: <class 'str'>
Data Science Is of data type: <class 'str'>
Python Is of data type: <class 'str'>
Jupyter Is of data type: <class 'str'>
3.0 Is of data type: <class 'float'>
abc Is of data type: <class 'str'>
(7+9j) Is of data type: <class 'complex'>
PW Is of data type: <class 'str'>
9.0 Is of data type: <class 'float'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible

In [4]:
print("Enter value for A")
A=int(input())
print("Enter value for B")
B=int(input())
count=0

while A%B==0:
    A=A//B
    count+=1
print("Number",A,"is divisible by Number",B, count,"times.")

Enter value for A

 14

Enter value for B

 2

Number 7 is divisible by Number 2 1 times.

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [8]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list1:
    if i%3==0:
        print(i,"is Divisible by 3")
    else:
        print(i,"is not Divisible by 3")

1 is not Divisible by 3
2 is not Divisible by 3
3 is Divisible by 3
4 is not Divisible by 3
5 is not Divisible by 3
6 is Divisible by 3
7 is not Divisible by 3
8 is not Divisible by 3
9 is Divisible by 3
10 is not Divisible by 3
11 is not Divisible by 3
12 is Divisible by 3
13 is not Divisible by 3
14 is not Divisible by 3
15 is Divisible by 3
16 is not Divisible by 3
17 is not Divisible by 3
18 is Divisible by 3
19 is not Divisible by 3
20 is not Divisible by 3
21 is Divisible by 3
22 is not Divisible by 3
23 is not Divisible by 3
24 is Divisible by 3
25 is not Divisible by 3

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property
Mutable Data Types: Mutable data types can be changed after they have been created. We can modify their values or contents without having to create a new object. When we need to update or modify data in-place, mutable objects come in handy. Example: String type data.

Immutable Data Types: Immutable data types have values that cannot be modified once they are formed. If we want to make modifications to an immutable object, we must first construct a new object with the desired changes. Example: List type data.

In [8]:
#Mutable Data type: List
List2=["Revati",2,7.8]
List2[2]=2023 
print(List2)

#Immutable Data type: String
string="Revati"
#string[2]="W" # Trying to modify the element in string ,this will give error.
print(string)

['Revati', 2, 2023]
Revati